{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>


<h1>My Todo List</h1>
<form action="" method="get">
    <input type="text" name="search-area">
    <input type="submit" value="Search For Task">
</form>

<table>
    <tr>
        <th>Tasks</th>
    </tr>
    {% for tasks in task %} <!--writing code in django in html requires parentheses -->
    <tr>
        <td>{{tasks.id}} - {{tasks.title}}</td>
        <td><a href="{% url 'tasks-detail' tasks.id%}">View</a> </td>
        <td><a href="{% url 'task-create'%}">Add</a> </td>
        <td><a href="{% url 'tasks-update' tasks.id%}">Edit</a>
        <td><a href="{% url 'tasks-delete' tasks.id%}">Delete</a> </td>
    </tr>
    {% empty %}
    <h3>No tasks in list</h3>
    <a href="{% url 'task-create'%}">Add New Task</a>
    {% endfor %}
</table>